/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-12-09, 07:08:09
    Author     : tomasz
*/
/* line 18, /var/www/html/test/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/test\/less\/style\.less}line{font-family:\0000318}}
body {
  font-family: 'Open Sans', serif;
  font-size: 35px;
  line-height: 35px;
  text-shadow: 1px 1px 0 #fff;
  color: #202022;
  background-color: #fafafa;
}
/* line 27, /var/www/html/test/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/test\/less\/style\.less}line{font-family:\0000327}}
h1 {
  font-size: 45.5px;
}
/* line 32, /var/www/html/test/less/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/test\/less\/style\.less}line{font-family:\0000332}}
ul li {
  padding: 20px 0;
  list-style: none;
  border-bottom: 1px #b8b8bc dotted;
  font-size: 28px;
}
