/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-12-09, 07:08:09
    Author     : tomasz
*/

@mainFont: 'Open Sans', serif;

@fontSize: 35px;
@lineHeight: 35px;

@mainColor: #202022;

body{
    font-family: @mainFont;
    font-size: @fontSize;
    line-height: @lineHeight;
    text-shadow: 1px 1px 0 #fff;
    color: @mainColor;
    background-color: lighten(@mainColor, 85%);
}

h1{
    font-size: @fontSize * 1.3;
}

ul{
    li{
        padding: 20px 0;
        list-style: none;
        border-bottom: 1px lighten(@mainColor, 60%) dotted;
        font-size: @fontSize * 0.8;
    }
}